
# Created by https://www.gitignore.io/api/cuda,visualstudiocode

### CUDA ###
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history


# End of https://www.gitignore.io/api/cuda,visualstudiocode

# Tests
test/**
!test/test-downloader.py
!test/networkrepository-urls.txt
!test/test-parser.py

# Binaries
cpu-bridges
networkrepository-parser
gpu-bfs-bridges 
dimacs-parser